In [11]:
import pandas as pd

'C:\\Users\\zaki\\Desktop\\Tweb_project\\datasets'

In [23]:
df = pd.read_csv("character_nicknames_cleaned.csv")

In [24]:
print(df.head())

   character_mal_id              nickname
0            280205              Hikaruko
1            280129              Hinacchi
2            280127         Bertha Willis
3            280066                 Jimmy
4            280059  Full Body Red Square

In [25]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36962 entries, 0 to 36961
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   character_mal_id  36962 non-null  int64
 1   nickname          36959 non-null  object
dtypes: int64(1), object(1)
memory usage: 577.7+ KB
None

In [27]:
df = df.dropna(subset=['nickname'])

In [28]:
df = df.drop_duplicates()

In [29]:
df['nickname'] = df['nickname'].str.strip()

In [30]:
df['nickname'] = df['nickname'].str.title()  # e.g., 'last pharaoh' â†’ 'Last Pharaoh'

In [31]:
df.to_csv("character_nicknames_cleaned.csv", index=False)

In [22]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37080 entries, 0 to 37079
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   character_mal_id  37080 non-null  int64
 1   nickname          37064 non-null  object
dtypes: int64(1), object(1)
memory usage: 579.5+ KB
None